


.ketan {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}


.container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-ktn {
	font-family: Arial Black, Arial Bold, Gadget, sans-serif;
	font-size: 67px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
    line-height: 56.4px;
    margin: auto;
    margin-top: 10%;
    margin-left: 20%;
}
.h2-ktn{
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
	font-size: 67px !important;    
    margin: auto;
    margin-top: 2%;
    font-weight: 700;
}

.btn-ktn-collapse{
    margin-top: 2%;
}

.nav-ktn{
    margin-top: 2%;
}

.about-ktn{
    margin-top: 2%;
}

.circle-ktn{
    margin-top: 5%;
    margin-left: 36%;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
#myBarop {
    width: 0%;
    height: 30px;
    background-color: #428bca;
    text-align: center;
    line-height: 30px;
    color: white;
}

#myBarpo {
    width: 0%;
    height: 30px;
    background-color: #428bca;
    text-align: center;
    line-height: 30px;
    color: white;
}

.pro-ktn{
    margin-left: 5%;
    margin-right: 5%;
}

.abt-ketan{
    margin-left: 10%;
    margin-right: 10%;
}