{% extends 'head.html' %}
{% block body %}

<div class="jumbotron about-ktn">
    <h1 class="display-4">WebRate</h1>
    <p class="lead">WebRate is a Website developed to evaluate or rate a website based on the sentiments or opinions of users given to those
        websites. It facilitates the customers with parameters covering all the aspects required by the user to choose a suitable website
        according to their requirement standards. This system will also protect users from fraudulent and theft related shopping websites.</p>
    <hr class="my-4">
    <p>The main aim of this Website is to provide users with a rating generated according to the shopping website’s performance
        and standards. There are numerous shopping websites to visit but the legitimacy of all the websites is questionable. Fraud can occur on
        a regular basis from illegitimate websites. The users may not get the service as per their expectations. There are many renowned
        shopping websites which do not match their credibility and in turn disappoints the customers or users.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ url_for('more')}}" role="button">Learn more</a>
    </p>
  </div>

{% endblock %}