<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WebRate</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
        <!-- personal css file -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900">
        <link rel="shortcut icon" href="{{ url_for('static',filename='images/star.png')}}">
        
    </head>

<header>
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="{{url_for('static',filename='images/star.png')}}" width="30" height="30" alt="">
        </a>
    </nav>
</header>
<body>
    <div class="container-fluid" style="min-height:100%" width:80%>
        {%block body %}{% endblock %}
    </div>
</body>