<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WebRate</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
        <!-- personal css file -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900">
        <link rel="shortcut icon" href="{{ url_for('static',filename='images/star.png')}}">
        
    </head>

    <body>
        <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Website.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
        </div>
        <div>
            <iframe width="560" height="315" src="http://www.amazon.in"></iframe>
        </div>
    </body>



</html>  