{% extends 'head.html' %}
{% block body %}

<div class="jumbotron about-ktn abt-ketan">
    <h3 class="display-5">WebRate</h1>
    <hr class="my-4">
    <p>
        With the advancement in technology , online shopping has taken a new toll. Customers can access the shopping
            websites from anywhere with the help of the internet. The websites display all the products for the customer to choose from and the
            customer can post any review or their opinion on the service of the website.<br><br>
            The main aim of this project is to provide users with a rating generated according to the shopping website’s performance
            and standards. There are numerous shopping websites to visit but the legitimacy of all the websites is questionable. Fraud can occur on
            a regular basis from illegitimate websites. The users may not get the service as per their expectations. There are many renowned
            shopping websites which do not match their credibility and in turn disappoints the customers or users.<br><br>
            The proposed system evaluates the shopping websites based on the reviews or opinions of the experienced customers.
            The performance of the website is processed down to certain parameters. According to these parameters a certain rating of that
            particular website is generated, which helps the customer to decide which website to opt for.</p>
        <br>
        The large number and the variety of existing Web-sites and their increasing role in social and economic contexts demand for flexible
methods and tools to support Website quality evaluation in an efficient and efficacious way. As users, and even more as
professionals, we have all experienced that for many websites navigation is all but satisfactory, needed information is missing,
transaction forms are awkward, graphical design is shabby, analytics show low popularity and success, and so on. Every passing day
the number of companies, organizations and individuals publishing their web sites is increasing. Considering all the information
available on the web every individual should desire to find and access useful information. For example users want to learn about
different shopping websites and what products and services they offer using the web. By the help of this information users may learn
about the websites and in turn choose a website which is suitable according to their standards. The task of evaluating and improving
the web sites can be intimidating considering the number of web sites available and the frequency of updates. As a result, automated
support for web designers and web site owners become more important. Automated usability tools can help save time and money in
design. User testing can improve consistency and quality of the web site. The customers wanting to buy the product would like to
compare the products and the services provided by different websites before purchasing the product. The services and all the
parameters related to the website can&#39;t be compared on the existing system . Therefore it makes it difficult for the customers to
decide. Although the websites would be rated but comparing the websites would make it more efficient and can provide a clear to opt
for the better product. Hence it was highly important to come up with the solution for the customers which would be the evaluation
of websites based on the review of the customers and rate it according to the sentiments identified in the reviews.
  
</div>

{% endblock %}